@model IEnumerable<BarberWeb.Models.ClientModel>

@{
    ViewBag.Title = "Клиенты";
}

<h2>Клиенты</h2>

<p>
    @Html.ActionLink("Добавить новых клиентов", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkerName)
        </td>
    </tr>
}

</table>
